# Parsedmarc image/tag
PARSEDMARC_IMAGE=ghcr.io/mkilijanek/parsedmarc:latest

# MS Graph token refresh sidecar image/tag
MSGRAPH_TOKEN_REFRESH_IMAGE=ghcr.io/mkilijanek/msgraph-token-refresh:latest

# Entra ID application settings
TENANT_ID=00000000-0000-0000-0000-000000000000
CLIENT_ID=00000000-0000-0000-0000-000000000000

# Graph mailbox identity used by token refresher
MAILBOX=alerts@example.com

# Refresh interval in seconds
REFRESH_INTERVAL=300
