# SSL / NGINX
SSL_DOMAIN=ti.example.com
SSL_MODE=self-signed         # import|self-signed|acme
SSL_EMAIL=admin@example.com  # used for ACME if SSL_MODE=acme

# Import mode
# SSL_CERT_IN=./ssl_in/cert.pem
# SSL_CHAIN_IN=./ssl_in/chain.pem
# SSL_KEY_IN=./ssl_in/key.prv

# ACME / Let's Encrypt (certbot webroot)
ACME_STAGING=false
ACME_WEBROOT=./certbot/www
ACME_CONF_DIR=./certbot/conf
